# on:
#   push:
#     branches:
#       - main

name: Build and Deploy
on:
  push:
    tags:
      - "v*"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./root
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: "main"
          persist-credentials: false
      - name: Install and Build
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn build
      - run: yarn deploy
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          github_token: ${{ secrets.TOKEN }}
          branch: gh-pages
          folder: root/out
          clean: true
